#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    behaviors {
        layer_switch: layer_switch {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_SWITCH";
            bindings = <&to>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        tap_kp_hold_to: tap_kp_hold_to {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_KP_HOLD_TO";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESCAPE  &kp Q         &kp W     &kp E   &kp R  &kp T           &kp Y      &kp U                         &kp I     &kp O     &kp P      &kp BSPC
&lt 2 TAB   &kp A         &kp S     &kp D   &kp F  &kp G           &kp H      &kp J                         &kp K     &kp L     &kp MINUS  &kp ENTER
&kp LSHFT   &kp Z         &kp X     &kp C   &kp V  &kp B           &kp AT     &kp SPACE                     &kp N     &kp M     &kp COMMA  &kp DOT            &kp EXCL  &kp QUESTION
&kp LCTRL   &kp LEFT_WIN  &kp LALT  &trans  &mo 3  &kp LANGUAGE_2  &kp SPACE  &tap_kp_hold_to 2 LANGUAGE_1  &kp LPAR  &kp RPAR  &kp COLON  &layer_switch 0 2
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &kp LA(RIGHT)  &kp LC(RS(TAB))  &to 0     &kp LC(TAB)   &trans       &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp LA(LEFT)   &mkp MB1         &mkp MB3  &mkp MB2      &kp LG(TAB)  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans         &trans           &trans    &kp LG(LEFT)  &kp LG(TAB)  &kp LG(RIGHT)  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans         &trans           &trans    &trans        &trans       &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp HOME        &kp UP_ARROW    &kp END    &kp PSCRN  &trans  &trans  &kp ASTRK                &kp N7        &kp N8     &kp N9        &kp MINUS
&trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &kp DEL    &trans  &trans  &kp BACKSPACE            &kp NUMBER_4  &kp N5     &kp NUMBER_6  &kp SLASH
&trans  &trans          &trans          &trans     &trans     &trans  &trans  &trans                   &kp LS(TAB)   &kp TAB    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS
&trans  &trans          &trans          &trans     &trans     &trans  &trans  &tap_kp_hold_to 0 SPACE  &kp N0        &kp COMMA  &kp DOT       &kp ENTER
            >;
        };

        layer_3 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &trans  &trans  &kp F7   &kp F8   &kp F9   &kp KP_NUMBER_9
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp F4   &kp F5   &kp F6   &kp KP_NUMBER_6
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &kp F1   &kp F2           &kp F3  &kp KP_NUMBER_3
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &to 0   &kp F10  &kp F11  &kp F12  &kp EQUAL
            >;
        };
    };
};
